Source: oracle-base-asm
Section: database
Priority: required
Maintainer: Kryazhevskikh Sergey, <soliverr@gmail.com>
Build-Depends: debhelper (>= 5)

Package: oracle-base-asm
Architecture: all
Depends: oracle-base
Description: Directories layout for Oracle ASM.
 This package provides directories layout and system groups 
 for Oracle ASM.
 .

